<div class="title">
    <h1>Vista previa del cupón</h1>
</div>


<div class="container">

    <mat-card class="card">
        <mat-card-title>Cupon 20%</mat-card-title>
        <mat-card-content>
            <p><strong>Cupón</strong> BUENFIN22X</p>
            <p><strong>Cupón</strong> BUENFIN22X</p>
            <p><strong>Cupón</strong> BUENFIN22X</p>
        </mat-card-content>

        <mat-card-actions>
            <button routerLink="/listadoCupones"mat-raised-button> Volver</button>
        </mat-card-actions>
    </mat-card>
</div>